@font-face {
  font-family: "Grotesque";
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/397014/BrandonGrotesque-Regular.eot"),
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/397014/BrandonGrotesque-Regular.ttf"),
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/397014/BrandonGrotesque-Regular.woff");
  font-weight: normal;
}
@font-face {
  font-family: "Grotesque Black";
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/397014/BrandonGrotesque-Black.eot"),
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/397014/BrandonGrotesque-Black.ttf"),
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/397014/BrandonGrotesque-Black.woff");
  font-weight: bold;
}
:root {
    --main-color: #171717;
    --secondary-color: #ffffff;
    --tetiary-color: rgb(18, 122, 136);
    --gray-color: #212121;
    --secondgray-color: #535353;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   
}

html{
    scroll-behavior: smooth;
}
body{
      
        font-family: "Grotesque", sans-serif;
       
    
}
.bodyhome{
  font-family: "Grotesque Black", sans-serif;
    height: 300px;
}
.bodyabout{
  font-family: "Grotesque Black", sans-serif;
    height: 100px;
}
.header{
    width: 100%;
    /* height: 300px; */
    background-image: url(gambar/bgimages.jpeg);
    background-size: cover;
    background-position: center;


}
.headerabout{
  width: 100%;
  height: 750px;
  background-image: url(gambar/bgimages.jpeg);
  background-size: cover;
  background-position: center;


}

.logo{
    width: 80px;
    height: 60px;
    margin-left: 100px;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #f8f8f8;
    height: 60px;
    
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 6px;
    /* margin-right: 10px; */
}
nav ul li a{
    color: #7fd9ef;
    text-decoration: none;
    font-size: 16px;
    position: relative;
    right: 26px;
    font-family: 'Franklin Gothic Medium';
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #000000;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.8s;
}
nav ul li a:hover::after{
    width: 100%;
    
}
nav ul li a:hover {
    color: black;
}
nav ul li a#active{
    color: #000000;
}
/* .boxtalk { */
    /* width: 125px; */
    /* height: 40px; */
    /* background-color: #234043; */
     /* border-radius: 19px; */
    /* box-shadow: 0 0 5px #206d76, 0 0 50px #206d76; */
    /* transition: 0.7s; */
    /* position: relative; */
    /* right: 20px; */
    /* border: 0; */
    /* cursor: pointer; */
    /* float: right; */
/* } */
.talk {
    /* margin-left: 10px; */
    left: 0.2px;
    padding: 4px;    
    position: relative;    
    color: #ffffff;
    /* text-transform: uppercase; */
    /* letter-spacing: none; */
    font-size: 14.5px;
    /* overflow: hidden; */
    
    text-decoration: none;
    text-align: center; 
    
    font-family: sans-serif;
    
}
.button:hover {
    color: white;
    background-color:#257983 ;
    box-shadow: 0 0 5px #257983, 0 0 25px #257983,  0 0 50px #257983, 0 0 100px #257983, 0 0 200px #257983;
    border-radius: 9px;
}
.button{
    position: relative;
    overflow: hidden;
    width: 155px;
    height: 43px;
    border-radius: 27px;
    color: #f7f7f7;
    background: #005b65;
    border: 0;
    cursor: pointer;
    transition: .7s;
    right: 80px;
    
}
  
.button-text,.button-links{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: .5s;
}
  
.button-links{
    opacity: 0;
    justify-content: space-around;
    padding:0 10px;
    transition: .2s;
    margin-left: 23px;
}
  
.button-text{
    justify-content: center;
    color: inherit;
    font-size: 18px;
    gap: 2px;
    
  
}
  
.button-links a{
  translate: 0 35px;
  transition: .7s;
}
  
.button:hover .button-links{
    opacity: 1;
}

.button:hover .button-links a{
    translate: 0;
}
  
.button:hover .button-text{
    translate: 0 -100%;
    
}
  
/* end nav */

.header-text{
    margin-top: 10%;
    font-size: 16px;
    font-family: sans-serif;
    margin-left: 7%;

}
.header-text h1{
    font-size: 50px;
    margin-top: 18px;
}

.header-text h1 span {
    background-image:  url(gambar/malaysia.gif);   
    background-repeat: no-repeat;
    background-position: center;
    color: transparent;
    background-clip: text;
    font-size: 70px;
}
h6{
  width: 425px;
  text-align: justify;
  font-weight: 100;

}
@property --border-angle-1 {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0deg;
}

@property --border-angle-2 {
  syntax: "<angle>";
  inherits: true;
  initial-value: 90deg;
}

@property --border-angle-3 {
  syntax: "<angle>";
  inherits: true;
  initial-value: 180deg;
}
/* 
/* sRGB color. */
:root {
  --bright-blue: rgb(0, 100, 255);
  --bright-green: rgb(0, 255, 0);
  --bright-red: rgb(255, 0, 0);
  --background: black;
  --foreground: white;
  --border-size: 2px;
  --border-radius: 0.75em;
} 

/* Display-P3 color, when supported. */
@supports (color: color(display-p3 1 1 1)) {
  :root {
    --bright-blue: color(display-p3 0 0.2 1);
    --bright-green: color(display-p3 0.4 1 0);
    --bright-red: color(display-p3 1 0 0);
  }
}

@keyframes rotateBackground {
  to {
    --border-angle-1: 360deg;
  }
}

@keyframes rotateBackground2 {
  to {
    --border-angle-2: -270deg;
  }
}

@keyframes rotateBackground3 {
  to {
    --border-angle-3: 540deg;
  }
}



button {
  --border-angle-1: 0deg;
  --border-angle-2: 90deg;
  --border-angle-3: 180deg;
  color: inherit;
  font-size: calc(9.8px + 4vmin);
  
  border: 0;
  
  padding: var(--border-size);
  display: flex;
  width: 133px;
  height: 39px;
  border-radius: 16px;
  background-color: transparent;
  background-image: conic-gradient(
      from var(--border-angle-1) at 10% 15%,
      transparent,
      var(--bright-blue) 50%,
      transparent 30%,
      transparent
    ),
    conic-gradient(
      from var(--border-angle-2) at 50% 60%,
      transparent,
      var(--bright-green) 50%,
      transparent 30%,
      transparent
    ),
    conic-gradient(
      from var(--border-angle-3) at 10% 20%,
      transparent,
      var(--bright-red) 50%,
      transparent 30%,
      transparent
    );
  animation: rotateBackground 3s linear infinite,
    rotateBackground2 8s linear infinite, rotateBackground3 13s linear infinite;
}


button .cv {
  margin-top: 2.8px;
  margin-left: 4px;
  line-height: 2;
  width: 120px;
  height: 30px;
  text-decoration: none;
  font-size: 15px;
  background: var(--background);
  
  border-radius: 8px;
  color: var(--foreground);
}


.links a {
    width: 150px;
    height: 50px;
    margin-left: 160px;
    padding: 6px 16px;
    position: relative;
    bottom: 28px;
    border-radius: 9px;
    text-decoration: none;
    color: var(--secondary-color);
    
    background-color: #606c6d96;
}
.image {
    width: 370px;
    height: 367px;
    border-radius: 7%;
    background-color: #202020;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #1e1d1d;
    position: relative;
    left: 800px;
    bottom: 350px;
    box-shadow: 0 0 5px #3d4a4b62, 0 0 25px #3d4a4b79,  0 0 50px #3d4a4b62, 0 0 100px #3d4a4b2a;
}
.image > img {
    width: 350px;
    height: 350px;
    border-radius: 5%;
    position: relative;
    /* top: 50px; */
    box-shadow: 0 0 5px #3d4a4b62, 0 0 25px #3d4a4b79;
}
/* end home */


/* About Section */

.aboutme{ 
  margin-left: 90px;
  /* text-align: center; */
    margin-top: 35px;
    font-size: 30px;
    font-weight: 800;
    position: relative;
    /* bottom: 30px; */
}
.about {
  position: relative;
  /* left: 100px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  /* margin-top: 50px; */
  /* width: 100%;         */
  position: relative;
  /* bottom: 20px; */
  justify-content: space-between;
  margin-top: 0px;
}
/* .imgabout {
  width: 29%;
  height: 100%;
  border-radius: 13%;
  background-color: #202020;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 12px solid #1e1d1d;
  position: relative;
  left: 710px;
  bottom: 350px;
  box-shadow: 0 0 5px #3d4a4b62, 0 0 25px #3d4a4b79,  0 0 50px #3d4a4b62, 0 0 100px #3d4a4b2a;
}
.imgabout > .contimg {
  width: 350px;
   height: 290px;
  border-radius: 10%;
} */

.note {
  margin-top: 30px;
  color: #fff;
  font-size: 1rem;
  font-family: "Merriweather", sans-serif;
  line-height: 1.5;
  text-align: center;
}

article.mecard {
  position: relative;
  left: 72%;
  bottom: 150px;
  margin-left: 90px;
  width: 370px;
  height: 350px;
  transform: translate(-50%, -50%) translateZ(0);
  border-radius: 3px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}
article.mecard .thumb {
  width: auto;
  height: 260px;
  background: url("gambar/me-aboutjpg.jpg")
    no-repeat center;
  background-size: cover;
  border-radius: 3px;
}
article.mecard .infos {
  width: auto;
  height: 350px;
  position: relative;
  padding: 14px 24px;
  background: #fff;
  transition: 0.4s 0.15s cubic-bezier(0.17, 0.67, 0.5, 1.03);
}
article.mecard .infos .titlelocat {
  position: relative;
  margin: 10px 0;
  letter-spacing: 3px;
  color: #152536;
  font-family: "Grotesque Black", sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  text-shadow: 0 0 0px #32577f;
}
article.mecard .infos .flag {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 35px;
  height: 23px;
  background: url("gambar/Flag_of_Malaysia.svg")
    no-repeat top right;
  background-size: 100% auto;
  display: inline-block;
}
.date,
article.mecard .infos .seats {

  /* margin-bottom: 20px; */
  text-transform: uppercase;
  font-size: 0.85rem;
  color: rgba(21, 37, 54, 0.7);
  font-family: "Grotesque", sans-serif;

  display: inline-block;
  margin-bottom: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: 0.5s 0.25s cubic-bezier(0.17, 0.67, 0.5, 1.03);
}

article.mecard .infos .txt {
  font-family: "Merriweather", sans-serif;
  line-height: 2;
  font-size: 0.95rem;
  color: rgba(21, 37, 54, 0.7);
  opacity: 0;
  transition: 0.5s 0.25s cubic-bezier(0.17, 0.67, 0.5, 1.03);
}
article.mecard .infos .details {
  position: absolute;
  left: 0;
  left: 0;
  bottom: 0;
  margin: 10px 0;
  padding: 20px 24px;
  letter-spacing: 1px;
  color: #4e958b;
  font-family: "Grotesque Black", sans-serif;
  font-size: 0.9rem;
  text-transform: uppercase;
  /* cursor: pointer; */
  opacity: 0;
  transition: 0.5s 0.25s cubic-bezier(0.17, 0.67, 0.5, 1.03);
}
article.mecard:hover .infos {
  transform: translateY(-260px);
}
article.mecard:hover .infos .seats,
article.mecard:hover .infos .txt,
article.mecard:hover .infos .details {
  opacity: 1;
}

/* end picture about*/

.para {
  margin-left: 70px;
  width: 50%;
  /* text-align: center; */
  padding-top: 40px;
  text-align: justify;
  font-size: 18px;
  font-family: sans-serif;
}

.aboutname {
  margin-left: 120px;
}
.fa-address-card {
  border: 1px solid rgb(255, 255, 255);
   width: 36px;
    height: 33px;
    border-radius: 20px;
    text-align: center;
    padding-top: 4.5px;
  
}
.fa-envelope, .fa-user-plus
, .fa-phone {
  border: 1px solid rgb(255, 255, 255);
   width: 36px;
    height: 33px;
    border-radius: 50%;
    text-align: center;
    padding-top: 4px;
}
/* end about */

/* start services */
.titleserv {
    font-size: 27px;
    font-weight: 100;
    padding-bottom: 20px;
    font-family: 'Trebuchet MS';
}

.myskills {
 
  margin-top: 16px;
  font-size: 40px;
  font-weight: 800;
  font-family: 'Trebuchet MS';
  
}
h2 {
  margin-top: 20px;
  font-size: 32px;
  font-weight: bold;
  font-family: 'Trebuchet MS';
}


/* start expertise */

.services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin-top: 50px; */
  width: 100%;
  display: flex;
  justify-content: space-between;

}

/* container serv */
.wcards{
    width: 100%;
    display: flex;
    justify-content: space-between;
    justify-content: center !important;
    gap: 50px;
    padding-bottom: 50px;
    padding-top: 5px;
}



.nameserv{
  font-size: 10px;
}

.wcards .cardserv {
    width: 26%;
    background-color: rgb(196, 245, 255);
    font-size: 30px;
    padding: 28px;
    padding-right: 150px;
    color: rgb(0, 0, 0);
}

.wcards .cardserv:nth-child(2) {
  border-bottom-right-radius: ;
    border-bottom: 6px solid black;
} 

.wcards .cardserv:nth-child(1) {
    border-bottom: 6px solid black;
} 

.wcards .cardserv:nth-child(3) {
    border-bottom: 6px solid black;
} 
.wcards .cardserv:hover {
    border-bottom: 5px solid white;
    background-color: #10667e;
    color: #ffffff;
} 

  
.skillcard {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.skillcard {
  justify-content: center !important;
  background-color: var(--gray-color);
  padding: 40px 20px;
  padding-left: 100px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.skillcard > .card {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skillcard > .card > .per {
  font-size: 50px;
  font-weight: 900;
  color: var(--secondgray-color);
}

.skillcard > .card > .name {
  text-transform: uppercase;
  color: var(--tetiary-color);
}

/* end services */

/* start portfolio */


h3{
  text-align: center;
  font-size: 33px;
  font-family: 'Trebuchet MS';
  font-weight: bold;
  margin: 14px;
}
h4{
  text-align: center;
  font-size: 15px;
  font-weight: 300;
  font-family: 'sans-serif';
  
  margin-bottom: 30px;
}
.main {
  background-color: rgba(255, 238, 205, 0.237);
  border-radius: 13px;
  text-decoration: none;
  color: white;
  font-size: 30px;
  
}
.sub {
  text-align: center;
  font-size: 14px;
  
  font-family: 'sans-serif';
  
}
body .credit {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: inherit;
}
body .options {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  overflow: hidden;
  min-width: 700px;
  max-width: 1070px;
  width: calc(100% - 100px);
  height: 410px;
  margin-left: 8%;
  
}

body .options .option {
  position: relative;
  overflow: hidden;
  min-width: 100px;
  margin: 10px;
  background: var(--optionBackground, var(--defaultBackground, #e6e9ed));
  background-size: auto 100%;
  background-position: center;
  cursor: pointer;
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}
body .options .option:nth-child(1) {
  --defaultBackground: #ed5565;
}
body .options .option:nth-child(2) {
  --defaultBackground: #fc6e51;
}
body .options .option:nth-child(3) {
  --defaultBackground: #ffce54;
}
body .options .option:nth-child(4) {
  --defaultBackground: #2ecc71;
}
body .options .option:nth-child(5) {
  --defaultBackground: #5d9cec;
}
body .options .option:nth-child(6) {
  --defaultBackground: #ac92ec;
}
body .options .option.active {
  flex-grow: 10000;
  transform: scale(1);
  max-width: 600px;
  margin: 0px;
  border-radius: 40px;
  background-size: auto 100%;
  /*&:active {
         transform:scale(0.9);
      }*/
}
body .options .option.active .shadow {
  box-shadow: inset 0 -120px 120px -120px black, inset 0 -120px 120px -100px black;
}
body .options .option.active .label {
  bottom: 20px;
  left: 20px;
}
body .options .option.active .label .info > div {
  left: 0px;
  opacity: 1;
}
body .options .option:not(.active) {
  flex-grow: 1;
  border-radius: 30px;
}
body .options .option:not(.active) .shadow {
  bottom: -40px;
  box-shadow: inset 0 -120px 0px -120px black, inset 0 -120px 0px -100px black;
}
body .options .option:not(.active) .label {
  bottom: 10px;
  left: 10px;
}
body .options .option:not(.active) .label .info > div {
  left: 20px;
  opacity: 0;
}
body .options .option .shadow {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 120px;
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}
body .options .option .label {
  display: flex;
  position: absolute;
  right: 0px;
  height: 40px;
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}
body .options .option .label .icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 40px;
  max-width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: white;
  color: var(--defaultBackground);
}
body .options .option .label .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
  color: white;
  white-space: pre;
}

/* end portfolio */

/* form */

/* conatct page */

.title {
  position: relative;
  bottom: 530px;
  left: 250px;
  font-family: 'Trebuchet MS';
}

form {
  position: relative;
  width: 50%;
  align-self: center;
  bottom: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  left: 600px;
}
form > input {
  border: none;
  background: transparent;
  width: 48%;
  height: 30px;
  border-bottom: 2px solid #c4c4c4;
  outline: none;
  font-size: 16px;
  font-family: 'Trebuchet MS';
  
}
form > textarea {
  border: none;
  background: transparent;

  border: 2px solid #c4c4c4;
  outline: none;
  font-size: 16px;
  font-family: 'Trebuchet MS';
}

/* form > a {
  width: 250px;
  height: 50px;
  border: 1px solid #ffffff;
  padding: 5px 15px;
  margin-top: 10px;
  text-decoration: none;
  color: var(--secondary-color);
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
} */

.frame {
  width: 90%;
  margin: 40px auto;
  text-align: center;
}
/* button {
  margin: 70px;
} */

/* button submit */
.custom-btn {
  width: 230px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Trebuchet MS';
  font-weight: 200;
  /* background: transparent; */
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(0, 0, 0, 0.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}

.btn-3 {
  background: #17adc4a2;
  background: linear-gradient(0deg, #17adc48c 0%, rgba(2, 126, 251, 0.406) 100%);
  width: 230px;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none;
  
}
.btn-3 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  color: black;
  font-size: 28px;
  line-height: 1.4;
}
.btn-3:before,
.btn-3:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
   background: rgba(2, 126, 251, 0.614);
  transition: all 0.3s ease;
}
.btn-3:before {
  height: 0%;
  width: 2px;
}
.btn-3:after {
  width: 0%;
  height: 2px;
}
.btn-3:hover{
   background: transparent;
  box-shadow: none;
}
.btn-3:hover:before {
  height: 100%;
}
.btn-3:hover:after {
  width: 100%;
}
.btn-3 span:hover{
   color: rgba(2, 102, 251, 0.783);
}
.btn-3 span:before,
.btn-3 span:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
   background: rgba(2, 126, 251, 0.55);
  transition: all 0.3s ease;
}
.btn-3 span:before {
  width: 2px;
  height: 0%;
}
.btn-3 span:after {
  width: 0%;
  height: 2px;
}
.btn-3 span:hover:before {
  height: 100%;
}
.btn-3 span:hover:after {
  width: 100%;
}


/* footer */
h5 span {
  font-size: 10px;
   font-family: sans-serif;
}
h5{
  font-size: 23px;
  font-weight: 200;
  font-family: 'sans-serif';
}
.socails {
  /* margin-left: 20px; */
  /* width: 100%; */
  display: flex;
 gap: 60px;
  font-size: 21px;
  /* text-align: center; */
  position: relative;
  right: 20px;
  /* bottom: 820px; */
}



#footerabout {
  position: relative;
  /* bottom: 105px; */
  text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /* margin-top: 50px; */
    padding: 20px;
    background-color: #355156;
    color: rgb(255, 255, 255);
}
#footerport {
  position: relative;
  top: 70px;
  text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /* margin-top: 30px; */
    padding: 20px;
    background-color: #355156;
    color: rgb(255, 255, 255);
}
#footercont {
  position: relative;
  top: 90px;
  text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /* margin-top: 30px; */
    padding: 20px;
    background-color: #355156;
    color: rgb(255, 255, 255);
}
@media print {
  /* All your print styles go here */
  #header,
  #footerserv {
    position: relative;
    top: 70px;
    text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;
      /* margin-top: 30px; */
      padding: 20px;
      background-color: #355156;
      color: rgb(255, 255, 255);
  }
  #nav {
    display: none !important;
  }
}

#footerserv {
  position: relative;
  top: 70px;
  text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /* margin-top: 30px; */
    padding: 20px;
    background-color: #355156;
    color: rgb(255, 255, 255);
} 
        
#footerhome {
  position: relative;
  bottom: 120px;
  text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /* margin-top: 30px; */
    padding: 20px;
    background-color: #355156;
    color: rgb(255, 255, 255);
}